<div class="container">
  <div class="navbar">
    <!-- use routerlink instead of href -->
    <!-- routerLinkActive just loads the css of the active link -->
    <!-- [routerLinkActiveOptions]="{exact:true}" just tells Angular to style thus link if its url is the same as it states -->
    <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="link-selected" routerLink="">Home</a>
    <a routerLinkActive="link-selected" routerLink="p/addProducts">Add Product</a>
    <a routerLinkActive="link-selected" routerLink="p/products">Products</a>
  </div>
  <div class="content">
    <!-- it will change the DOM in one way or another -->
    <router-outlet></router-outlet>
  </div>
</div>